<h1><center> Récupérer et connaître vos données </center></h1>

## Étape 1. Importez les bibliothèques nécessaires

In [1]:
import pandas as pd
import numpy as np

## Étape 2. Importez le jeux de données à partir de:

## Étape 3. Attribuez-le à une variable appelée chipo.

In [2]:

url = 'data.tsv'
    
data = pd.read_csv(url, sep = '\t')

## Étape 4. Voir les 10 premières entrées

In [4]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Étape 5. Quel est le nombre d'observations dans le jeux de données?

In [5]:
data.shape[0]  # ou chipo.info()

4622

## Étape 6. Quel est le nombre de colonnes dans le jeux de données?

In [6]:
data.shape[1]

5

## Étape 7. Afficher le nom de toutes les colonnes.

In [7]:
list(data.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

## Étape 8. Comment le jeux de données est-il indexé?

In [10]:
data.index

RangeIndex(start=0, stop=4622, step=1)

## Étape 9. Quel est l'article le plus commandé? Pour l'article le plus commandé, combien d'articles ont été commandés?

In [11]:
c = data.groupby('item_name')

print(c)

c = c.sum()

print(c)
# print(c.head())
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001D16783A610>
                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

              order_id  quantity
item_name
Chicken Bowl    713926       761

## Étape 10. Quel était l'article le plus commandé dans la colonne choice_description?

In [9]:
c = data.groupby('choice_description').sum()
print(c)

c = c.sort_values(['quantity'], ascending=False)

print("=====================")
print(c)
c.head(1)
# Diet Coke 159

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
...                                                      ...       ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]
=====================
                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## Étape 11. Combien d'articles ont été commandés au total?

In [10]:
total_items_orders = data.quantity.sum()
total_items_orders

4972

## Étape 12. Transformez le prix de l'article en flottant

### Étape 12.a Vérifiez le type de la variable item_price

In [11]:
data.item_price.dtype

dtype('O')

### Étape 12.b Créer une fonction lambda et modifier le type de item_price en float

In [12]:
dollarizer = lambda x: float(x[1:-1])
data.item_price = data.item_price.apply(dollarizer)

In [20]:
data.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

### Étape 12.c Vérifiez le type de la variable item_price

In [13]:
data.item_price.dtype

dtype('float64')

## Étape 13. Quel est le chiffre d'affaires pour la période dans le jeux de données?

In [14]:
revenue = (data['quantity']* data['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

## Étape 14. Combien de commandes ont été passées au cours de la période?

In [15]:
orders = data.order_id.value_counts().count()
orders

1834

## Étape 15. Quel est le montant moyen des revenus par commande?

In [16]:
# Solution 1

data['revenue'] = data['quantity'] * data['item_price']
order_grouped = data.groupby(by=['order_id']).sum()

print(order_grouped)
order_grouped.mean()['revenue']

# # Solution 2

# data.groupby(by=['order_id']).sum().mean()['revenue']

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
...            ...         ...      ...
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

21.394231188658654

## Étape 16. Combien d'articles différents sont vendus?

In [23]:
data.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

In [17]:
data.item_name.value_counts().count()

50