Codez un script python qui permet de regrouper les DataSets de chacun en une seule DataSet.

In [3]:
import pandas as pd
import glob

df = pd.DataFrame()

for f in glob.glob("./Dataset/*.csv"):
    df_chunk = pd.read_csv(f)
    df = pd.concat([df, df_chunk], axis=0)
df.reset_index(inplace = True, drop = True)

df.shape

(225, 12)

Appliquez les traitements nécessaires pour préparer la DataSet en utilisant Numpy et Pandas, (vous pouvez trouver un référentiel sur ressource).

(présenter votre pipeline dans le compte rendu).

NB. Le résultat de classification dépond essentiellement de la qualité du prétraitement.

In [14]:
df.columns.unique()
df.head()

  Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10  Score Interpretation
0  a  a  a  a  a  1  1  1  1   1     10              B
1  b  b  b  b  b  2  2  2  2   2      0              C
2  c  c  c  c  c  3  3  3  3   3     20              A
3  a  b  c  a  b  1  2  3  1   2      8              C
4  b  c  a  c  a  3  2  3  1   2     11              B

Pour les colones Q1 à Q10 :
- Si la réponse est "a" "A" ou "1", remplacer par 1
- Sinon Si la réponse est "b" "B" ou "2", remplacer par 2
- Sinon Si la réponse est "c" "C" ou "3", remplacer par 3
- Sinon, remplacer toutes les autres valeurs par NaN.

In [16]:
df_clean = df.copy()
df_loc[]

  Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10  Score Interpretation
0  a  a  a  a  a  1  1  1  1   1     10              B
1  b  b  b  b  b  2  2  2  2   2      0              C
2  c  c  c  c  c  3  3  3  3   3     20              A
3  a  b  c  a  b  1  2  3  1   2      8              C
4  b  c  a  c  a  3  2  3  1   2     11              B

In [26]:
df_clean = df.copy()
df_clean.loc['Q1':'Q10' == "a", 'Q1':'Q10'] = 1
df_clean.head()

  Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10  Score Interpretation
0  a  a  a  a  a  1  1  1  1   1     10              B
1  b  b  b  b  b  2  2  2  2   2      0              C
2  c  c  c  c  c  3  3  3  3   3     20              A
3  a  b  c  a  b  1  2  3  1   2      8              C
4  b  c  a  c  a  3  2  3  1   2     11              B